{% extends "layout.html" %}
{% block title %}{{ super() }} | Edit Entry{% endblock %}
{% block style %}<link rel="stylesheet" href="../../static/css/site.css">{% endblock %}
{% block content %}
    <section>
        <div class="container">
            <div class="new-entry">
                <h2>Edit Entry</h2>
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <!-- 1. Needed hidden_tag for form validation.
                    2. Also needed name fields to match form attributes. -->
                    <label for="title"> Title</label>
                    <input id="title" type="text" name="title" value="{{ edeet.title }}"><br>
                    <label for="datestamp">Date</label>
					<h5>Previous Setting: {{ edeet.datestamp.strftime('%b %d, %Y') }}</h5>
                    <input id="datestamp" type="date" name="datestamp" value="{{ edeet.datestamp }}"><br>
                    <label for="minutes"> Time Spent</label>
                    <input id="minutes" type="text" name="minutes" value="{{ edeet.minutes }}"><br>
                    <label for="learned">What I Learned</label>
					<h5>[If you're making any edits, remember to re-enter links, by typing in the url.  The link will display as the title of its webpage.]</h5>
                    <textarea id="learned" rows="5" name="learned">{{ edeet.learned }}</textarea>
                    <label for="resources">Resources to Remember</label>
					<h5>[If you're making any edits, remember to re-enter links, by typing in the url.  Seperate resources by pressing 'enter' or 'return'.]</h5>
                    <textarea id="resources" rows="5" name="resources">{{ edeet.resources }}</textarea>
                    <h6>Current Tags:</h6><h5>|{% for etag in etags %} {{ etag.term }} |{% endfor %}</h5>
					<label for="tags"> Add More Tags or Remove Current Tags </label>
                    <input id="tags" type="text" name="tags" value="{% for etag in etags %}{{ etag.term }}, {% endfor %}"><br>
                    <button type="submit" id="submit">Save Entry!</button>
                    <a href="{{ url_for('index')}}" class="button button-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </section>
{% endblock %}