<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}KMLOG{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Cousine:400" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:600" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/site.css">
    </head>
    <body>
        <header>
            <div class="container">
                <div class="site-header"><h1>{% block header %}Greetings!{% endblock %}</h1>
                    <!--  ***jinja2 if current_user.is_authenticated block starts here***
                    <a href="***jinja2doublestache url_for('logout') ***" class="icon-power" title="log out"> 
                    Log Out</a>
                    ***jinja2 else tag here*** 
                    <a href="***jinja2doublestache url_for('login') ***" class="icon-power" title="log in">Log In</a>
                    <a href="***jinja2doublestache url_for('register') ***" class="icon-profile" title="register">Register</a>
                    *** jinja2 endif for current_user block -->
                    <a class="logo" href="{{ url_for('index') }}"><i class="material-icons">library_books</i></a>
                    <!-- jinja2 if current_user.is_authenticated block*** -->
                    <br><br><a class="button icon-right" href="{{ url_for('post') }}"><span>New Entry</span> <i class="material-icons">add</i></a>
                    <!-- *** endif *** -->
                </div>
            </div>
        </header>
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="notification {{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
        <footer>
            <div>
                &copy; KMLOG
            </div>
        </footer>
    </body>
</html>