{% extends "layout.html" %}
{% block title %}{{ super() }} | New Entry{% endblock %}
{% block content %}
    <section>
        <div class="container">
            <div class="new-entry">
                <h2>New Entry</h2>
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <label for="title">Title</label>
                    <input id="title" type="text" name="title" placeholder="{{ form.title.label.text }}">
                    <br>
                    <label for="datestamp">Date</label>
                    <input id="datestamp" type="date" name="datestamp"><br>
                    <label for="minutes"> Time Spent</label>
                    <input id="minutes" type="text" name="minutes" placeholder="{{ form.minutes.label.text }}"><br>
                    <label for="learned">What I Learned</label>
                    <textarea id="learned" rows="5" name="learned">{{ form.learned.label.text }}</textarea>
                    <label for="resources">Resources to Remember</label>
                    <textarea id="resources" rows="5" name="resources">{{ form.resources.label.text }}</textarea>
                    <!-- <label for="tags"> Tags (N/A)</label>
                    <input id="tags" type="text" name="tags"><br> Tags isn't in my form model.-->
                    <button type="submit" id="submit">Publish Entry!</button>
                    <!-- <input type="submit" value="Publish Entry" class="button"> This maybe didn't work -->
                    <a href="{{ url_for('index') }}" class="button button-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </section>
{% endblock %}