{% extends "layout.html" %}
{% block title %}{{ super() }} | New Entry{% endblock %}
{% block content %}
    <section>
        <div class="container">
            <div class="new-entry">
                <h2>New Entry</h2>
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <label for="title">Title</label>
                    <input id="title" type="text" name="title" placeholder="{{ form.title.label.text }}">
                    <br>
                    <label for="datestamp">Date</label>
                    <input id="datestamp" type="date" name="datestamp"><br>
                    <label for="minutes"> Time Spent</label>
                    <input id="minutes" type="text" name="minutes" placeholder="{{ form.minutes.label.text }}"><br>
                    <label for="learned">What I Learned</label>
					<h5>[To include a link, (specific pages only, no mid-page anchor #'s !) type the url, and a space. The link will display as the title of its webpage.]</h5>
                    <textarea id="learned" rows="5" name="learned" placeholder="{{ form.learned.label.text }}"></textarea>
                    <label for="resources">Resources to Remember</label>
                    <h5>[If resource is a link, simply type in url.  Seperate resources by pressing 'enter' or 'return'.]</h5>
                    <textarea id="resources" rows="5" name="resources" placeholder="{{ form.resources.label.text }}"></textarea>
                    <label for="tags"> Tags </label>
                    <h5>[Seperate your tags with commas.]</h5>
                    <input id="tags" type="text" name="tags"><br>
                    <button type="submit" id="submit">Publish Entry!</button>
                    <!-- <input type="submit" value="Publish Entry" class="button"> This maybe didn't work -->
                    <a href="{{ url_for('index') }}" class="button button-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </section>
{% endblock %}