<!doctype html>
<html>
    <head><title>Flask Practicing</title>
    </head>
    <body>
        <header><h2><a href="{{ url_for('new') }}">Add new entry.</a></h2>
        </header>
        <h1>Hi {{ name }}! Let's see some peewee!</h1><br>
        {% for entry in log %}<hr>
        <h3>{{ entry.user_name  }}</h3>
        <p>    <strong>{{ entry.task_name }}</strong><br>Time in minutes: {{ entry.task_minutes }}<br>Timestamp: {{ entry.timestamp.strftime('%Y %b %d') }}
            <br>Notes:{{ entry.task_notes }}            
        </p><br><br>
        {% endfor %}
    </body>
</html>